# ═══════════════════════════════════════════
# IamZer01 Sentinel – Environment Variables
# ═══════════════════════════════════════════

# Grafana
GRAFANA_ADMIN_USER=Admin
GRAFANA_ADMIN_PASSWORD=Hacker

# InfluxDB
INFLUXDB_USER=admin
INFLUXDB_PASSWORD=Hacker@co
INFLUXDB_ORG=sentinel
INFLUXDB_BUCKET=sentinel
INFLUXDB_TOKEN=sentinel-token

# Elasticsearch
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=Hacker@co

# InfluxDB connection (used by Telegraf)
INFLUXDB_URL=http://influxdb:8086
